@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Yeseva+One&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;

    max-width: 100vw;

}

.intro {
    height: 790px;
    margin: 0;

    background: url(images/intro-background.png
    ) center no-repeat;
    background-color: #494949;
    background-size: cover;
    background-blend-mode: multiply;
}

.container {
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;

    position: relative;
}

.nunito, p {
    font-family: 'Nunito Sans', sans-serif;
}

.nav__bar {
    height: 83px;
    background-color: #131313;
    display: flex;

    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav__bar_inner {
    width: 100%;
    margin: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E3B873;
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 581px;
}

.nav__link {
    color: #fff;
}

.nav__link_active {
    color: #E3B873;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.button:hover {
    cursor: pointer;
}

.nav__button {
    padding: 13px 33px;
    background-color: #E3B873;
    color: #fff;
    border: 0;
}

.nav__button:hover {
    background-color: #da9f3f;
    transition: .2s linear;
}

.nav__number {
    color: #E3B873;
    margin-right: 45px;
    text-decoration: none;
}

.intro__contents {
    position: absolute;
    margin: 208px 0;
}

.intro__title {
    width: 45%;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.intro__subtitle {
    width: 45%;

    color: #fff;
    font-weight: 400;
    font-size: 22px;

    margin: 20px 0;
}

.intro__button_1 {
    padding: 20px 40px;
    background-color: #E3B873;
    color: #fff;
    border: 0;
}

.intro__button_1:hover {
    background-color: #da9f3f;
    transition: .2s linear;
}

.intro__button_2 {
    padding: 19px 30px;
    margin-left: 15px;
    background: none;
    color: #fff;
    border: 1px #fff solid;
}

.intro__button_2:hover {
    background-color: #da9f3f;
    border: 0;
    padding-left: 31px;
    transition: .01s linear;
}

.projects {
    padding: 0.1px;
    margin: 0;
    height: 1200px;
    background-color: #131313;
}

.projects__contents {
    margin: 107px 0 auto;
    display: flex;
    justify-content: space-between;
}

.projects__description {
    width: 40%;
    margin-top: 30px;
    position: relative;
}

.projects__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.projects__title {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
}

.projects__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.projects__detail {
    margin-bottom: 10px;
}

.detail__name {
    color: #E3B873;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}

.detailed {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 7px;
}

.projects__pic_block {
    margin-left: 20px;
}

.pic__links {
    width: 83%;
    display: flex;
    justify-content: space-between;
}

.pic__link {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.pic__link:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 1px;
    width: auto;
    background-color: #E3B873;
    margin-top: 5px;
}

.pic__link:hover {
    color: #E3B873;
    transition: .2s linear;
}

.pic__link:hover:after {
    visibility: visible;
    transition: .2s linear;
}

.projects__slider {
    position: absolute;
    width: 211px;
    height: 13.5px;
    bottom: 0;
}

.section__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;

    width: 280px;
    margin: 70px auto 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.section__title img {
    width: 180px;
    height: auto;
}

.demo__video {
    display: block;
    width: 60%;
    height: auto;

    margin: 0 auto;
}

.online__control {
    display: block;
    height: 700px;
    position: relative;
}

.online__control_inner {
    position: absolute;
    top: -470px;
}

.online__control_description {
    width: 45%;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    color: #363636;
    text-align: center;
    line-height: 37px;

    margin: 0 auto 80px;
}

.online__control_description::before {
    content: "";
    display: block;
    height: 2px;
    width: 55px;
    background-color: #E3B873;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.grab__details_form {
    display: flex;
    justify-content: space-between;
    max-width: 769px;
    margin: 0 auto;
    align-items: center;
}

.input__title {
    margin: 0;
    font-size: 13px;
}

.input__name {
    border: none;
    outline: none;
    border-bottom: 2px #ccc solid;


    padding-bottom: 8px;
    padding-left: 0;
    margin-top: 3px;
    width: 230px;
}

.input__name::placeholder {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.input__name:focus::placeholder {
    color: transparent;
}

.submit__button {
    width: 200px;
    height: 50px;
    background-color: #E3B873;
    border: 0;
    color: #fff;
}

.checkbox {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 35px auto 0;
}

.checkbox span {
    padding-left: 5px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

#checkbox1:checked {
    background-color: #E3B873;
    color: #fff;
}

.types_of_repair {
    height: 1900px;
}

#tor1 {
    color: #000;
}

.repair__elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 300px;
}

.repair__element {
    margin: 15px;
    max-width: 360px;
    position: relative;
}

.repair__element img {
    max-width: inherit;
}

.element_desc {
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: -160px;
    left: 35px;
    padding-right: 70px;
}

.element_desc > h2 {
    color: #363636;
    padding-left: 23px;
    font-size: 18px;
}

ul {
    color: #959595;
    font-weight: 400;
    line-height: 25px;
    font-size: 13px;
}

.element_desc_btn {
    padding: 12px 21.44px;
    background-color: #E3B873;
    color: #fff;

    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;

    border: none;
    border-radius: 0%;
}

.request__form_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stages__list {
    background: url(images/sketch-bg.jpg) no-repeat;
    background-size: cover;
    width: 50%;
    height: 645px;

    position: relative;
    left: -150px;
}

.stages__list_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 65px;
}

.stages__list_el {
    display: flex;
    align-items: center;
    margin-left: 225px;
}

.el_number {
    padding: 10px;
    background-color: #E3B873;
    border-radius: 50%;
    font-family: 'Yeseva One', serif;
    color: #fff;
    border: 8px #fff solid;
}

.request__form {
    width: 500px;
    height: 500px;
    background-color: #131313;
    color: #fff;
    margin-top: 60px;
    position: relative;
}

.request__form_title {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    width: 280px;
    margin: 28px auto 0;
}

.field__input {
    margin: 45px;
}

.field__input:nth-child(4) {
    margin-bottom: 10px;
}

.title__input {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin: 7px 0;
    font-size: 13px;
}

.name__input {
    width: 400px;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    padding-bottom: 5px;
    outline: none;
    background: none;
    color: #fff;
}

.name__input::placeholder {
    color: #fff;
    font-size: 14px;
}

.name__input:focus::placeholder {
    color: transparent;
}

.checkbox2 {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 50px 15px;
}

.request__form_button {
    padding: 19px 25px;
    background-color: #E3B873;
    color: #fff;
    border: none;
    border-radius: 0;
    position: absolute;
    right: 50px;
}

.saving__notification {
    display: flex;
    align-items: center;
    margin-left: 65%;
    font-weight: 700;
    color: #da9f3f;
    width: 350px;
}

.savings_text {
    margin-left: 20px;
}