@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Yeseva+One&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;

    max-width: 100vw;

}

.header {
    font-family: 'Nunito Sans', sans-serif;
}

.intro {
    height: 790px;
    margin: 0;

    background: url(images/intro-background.png
    ) center no-repeat;
    background-color: #494949;
    background-size: cover;
    background-blend-mode: multiply;
}

.container {
    width: 100%;
    max-width: 1236px;
    margin: 0 134px;

    position: relative;
}

.nav__bar {
    height: 83px;
    background-color: #131313;
    display: flex;

    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

.nav__bar_inner {
    width: 100%;
    margin: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E3B873;
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 581px;
}

.nav__link {
    color: #fff;
}

.nav__link_active {
    color: #E3B873;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
}

.button:hover {
    cursor: pointer;
}

.nav__button {
    padding: 13px 33px;
    background-color: #E3B873;
    color: #fff;
    border: 0;
}

.nav__button:hover {
    background-color: #da9f3f;
    transition: .2s linear;
}

.nav__number {
    color: #E3B873;
    margin-right: 45px;
}

.intro__contents {
    position: absolute;
    margin: 208px 0;
}

.intro__title {
    width: 45%;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.intro__subtitle {
    width: 45%;

    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;

    margin: 20px 0;
}

.intro__button_1 {
    padding: 20px 40px;
    background-color: #E3B873;
    color: #fff;
    border: 0;
}

.intro__button_1:hover {
    background-color: #da9f3f;
    transition: .2s linear;
}

.intro__button_2 {
    padding: 19px 30px;
    margin-left: 15px;
    background: none;
    color: #fff;
    border: 1px #fff solid;
}

.intro__button_2:hover {
    background-color: #E3B873;
    border: 0;
    padding: 20px 30px;
    transition: .2s linear;
}

.projects {
    padding: 0.1px;
    margin: 0;
    height: 1074px;
    background-color: #131313;
}

.projects__contents {
    margin: 107px auto;
    display: flex;
    justify-content: space-between;
}

.projects__description {
    width: 40%;
    margin-top: 30px;
    position: relative;
}

.projects__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 30px;
}

.projects__title {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
}

.projects__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.projects__detail {
    margin-bottom: 10px;
}

.detail__name {
    color: #E3B873;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}

.detailed {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 7px;
}

.projects__pic_block {
    margin-left: 20px;
}

.pic__links {
    width: 83%;
    display: flex;
    justify-content: space-between;
}

.pic__link {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.pic__link:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 1px;
    width: auto;
    background-color: #E3B873;
    margin-top: 5px;
}

.pic__link:hover {
    color: #E3B873;
    transition: .2s linear;
}

.pic__link:hover:after {
    visibility: visible;
    transition: .2s linear;
}

.projects__slider {
    position: absolute;
    width: 211px;
    height: 13.5px;
    bottom: 0;
}

.video__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;

    width: 280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}