@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Yeseva+One&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;

    max-width: 100vw;

}

.intro {
    height: 790px;
    margin: 0;

    background: url(images/intro-background.png
    ) center no-repeat;
    background-color: #494949;
    background-size: cover;
    background-blend-mode: multiply;
}

.container {
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;

    position: relative;
}

.nunito, p {
    font-family: 'Nunito Sans', sans-serif;
}

.nav__bar {
    height: 83px;
    width: 100vw;
    background-color: #131313;
    display: flex;

    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav__bar_inner {
    width: 100%;
    margin: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E3B873;
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 581px;
}

.nav__link {
    color: #fff;
}

.nav__link_active {
    color: #E3B873;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.button:hover {
    cursor: pointer;
}

.nav__button {
    padding: 13px 33px;
    background-color: #E3B873;
    color: #fff;
    border: 0;
}

.nav__button:hover {
    background-color: #da9f3f;
    transition: .2s linear;
}

.nav__number {
    color: #E3B873;
    margin-right: 45px;
    text-decoration: none;
}

.intro__contents {
    position: absolute;
    margin: 208px 0;
}

.intro__title {
    width: 45%;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.intro__subtitle {
    width: 45%;

    color: #fff;
    font-weight: 400;
    font-size: 22px;

    margin: 20px 0;
}

.intro__button_1 {
    padding: 15px 40px;
    background-color: #E3B873;
    color: #fff;
    border: 0;
    font-size: 11px;
    font-style: italic;
    width: 207px;
    height: 51px;
}

.intro__button_1:hover {
    background-color: #da9f3f;
    transition: .2s linear;
}

.intro__button_2 {
    padding: 17px 30px;
    margin-left: 15px;
    background: none;
    color: #fff;
    border: 1px #fff solid;
    font-size: 11px;
    font-style: italic;
    width: 207px;
    height: 51px;
}

.intro__button_2:hover {
    background-color: #da9f3f;
    border: 0;
    padding-left: 31px;
    transition: .01s linear;
}

#intro__button_3 {
    display: none;
}

.projects {
    padding: 0.1px;
    margin: 0;
    height: 1200px;
    background-color: #131313;
}

.projects__contents {
    margin: 107px 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects__description {
    width: 40%;
    margin-top: 30px;
    position: relative;
}

.projects__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.projects__title {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
}

.projects__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.projects__detail {
    margin-bottom: 10px;
}

.detail__name {
    color: #E3B873;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}

.detailed {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 7px;
}

.projects__pic_block {
    margin-left: 20px;
}

#projects__pic_block-mobile {
    display: none;
}

.slider_with_arrows {
    position: relative;
}

.slider__btn-left {
    position: absolute;
    display: none;
    background-color: transparent;
    bottom: 102px;
    left: 0px;
    border: none;
}

.slider__btn-right {
    position: absolute;
    display: none;
    background-color: transparent;
    bottom: 100px;
    border: none;
    right: 0px;
}

.pic__links {
    width: 83%;
    display: flex;
    justify-content: space-between;
}

.pic__link {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.pic__link:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 1px;
    width: auto;
    background-color: #E3B873;
    margin-top: 5px;
}

.pic__link:hover {
    color: #E3B873;
    transition: .2s linear;
}

.pic__link:hover:after {
    visibility: visible;
    transition: .2s linear;
}

.projects__slider {
    position: absolute;
    width: 211px;
    height: 13.5px;
    bottom: 0;
}

.section__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;

    width: 280px;
    margin: 70px auto 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.section__title img {
    width: 180px;
    height: auto;
}

.demo__video {
    display: block;
    width: 60%;
    height: auto;

    margin: 0 auto;
}

.online__control {
    display: block;
    height: 700px;
    position: relative;
}

.online__control_inner {
    position: absolute;
    top: -470px;
}

.section__description {
    width: 45%;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    color: #363636;
    text-align: center;
    line-height: 37px;

    margin: 0 auto 80px;
}

.section__description::before {
    content: "";
    display: block;
    height: 2px;
    width: 55px;
    background-color: #E3B873;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.grab__details_form {
    display: flex;
    justify-content: space-between;
    max-width: 769px;
    margin: 0 auto;
    align-items: center;
}

.input__title {
    margin: 0;
    font-size: 13px;
}

.input__name {
    border: none;
    outline: none;
    border-bottom: 2px #ccc solid;


    padding-bottom: 8px;
    padding-left: 0;
    margin-top: 3px;
    width: 230px;
}

.input__name::placeholder {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.input__name:focus::placeholder {
    color: transparent;
}

.submit__button {
    width: 200px;
    height: 50px;
    background-color: #E3B873;
    border: 0;
    color: #fff;
}

.checkbox {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 35px auto 0;
}

.checkbox_mobile {
    display: none;
}

.checkbox span {
    padding-left: 5px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

#checkbox1:checked {
    background-color: #E3B873;
    color: #fff;
}

.types_of_repair {
    height: 1900px;
}

#tor1 {
    color: #000;
}

.repair__elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 165px;
}

.repair__element {
    margin: 15px;
    max-width: 360px;
    height: 550px;
    position: relative;
}

.repair__element img {
    max-width: inherit;
}

.element_desc {
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: -3px;
    left: 35px;
    padding-right: 70px;
}

.element_desc > h2 {
    color: #363636;
    padding-left: 23px;
    font-size: 18px;
}

ul {
    color: #959595;
    font-weight: 400;
    line-height: 25px;
    font-size: 13px;
}

.element_desc_btn {
    padding: 12px 21.44px;
    background-color: #E3B873;
    color: #fff;

    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;

    border: none;
    border-radius: 0%;
}

.request__form_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stages__list {
    background: url(images/sketch-bg.jpg) no-repeat;
    background-size: cover;
    width: 50%;
    height: 645px;

    position: relative;
    left: -150px;
}

.stages__list_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 65px;
}

.stages__list_el {
    display: flex;
    align-items: center;
    margin-left: 225px;
}

.el_number {
    padding: 10px;
    background-color: #E3B873;
    border-radius: 50%;
    font-family: 'Yeseva One', serif;
    color: #fff;
    border: 8px #fff solid;
}

.request__form {
    width: 500px;
    height: 500px;
    background-color: #131313;
    color: #fff;
    margin-top: 60px;
    position: relative;
}

.request__form_title {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    width: 280px;
    margin: 28px auto 0;
}

.field__input {
    margin: 45px;
}

.field__input:nth-child(4) {
    margin-bottom: 10px;
}

.title__input {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin: 7px 0;
    font-size: 13px;
}

.name__input {
    width: 400px;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    padding-bottom: 5px;
    outline: none;
    background: none;
    color: #fff;
}

.name__input::placeholder {
    color: #fff;
    font-size: 14px;
}

.name__input:focus::placeholder {
    color: transparent;
}

.checkbox2 {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 50px 15px;
}

.request__form_button {
    padding: 19px 25px;
    background-color: #E3B873;
    color: #fff;
    border: none;
    border-radius: 0;
    position: absolute;
    right: 50px;
}

.saving__notification {
    display: flex;
    align-items: center;
    margin-left: 65%;
    font-weight: 700;
    color: #da9f3f;
    width: 350px;
}

.savings_text {
    margin-left: 20px;
}

.styles__section {
    height: 870px;
    width: 100%;
    background: url(images/styles-bg.jpg) no-repeat;
    background-color: #494949;
    background-blend-mode: multiply;
}

.styles__contents {
    display: flex;
    justify-content: space-between;
}

.styles__title {
    font-size: 27px;
    color: #E3B873;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 137px;
}

.styles__pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 65%;

    margin-top: -60px;
}

.styles__pictures-column-right {
    margin-top: -100px;
}

.styles__pictures img {
    margin: 20px;
}

.styles__list {
    padding-left: 0;
}

.styles__list li {
    width: fit-content;
    list-style-type: none;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}

.styles__list li:hover {
    color: #E3B873;
    transition: .2s linear;
    cursor: pointer;
}

.styles__list li::after {
    content: "";
    display: block;
    height: 1px;
    width: auto;
    background-color: #E3B873;
    visibility: hidden;
    margin-top: -9px;
}

.styles__list li:hover:after {
    visibility: visible;
    transition: .2s linear;
    cursor: pointer;
}

.clients__section {
    height: 1200px;
    background: url(images/clients-bg.png) repeat-x;
    background-position: bottom;
}

.clients__title {
    color: #181818;
    margin-top: 60px;
}

#clients__description::before {
    display: none;
}

.clients__section-elements {
    display: flex;
    justify-content: space-between;
}

.clients__section-element {
    display: block;
    width: 376px;
    height: 428px;
    background-color: #fff;
    box-shadow: 0 10px 50px hsl(0deg 0% 0% / 4%);
    position: relative;
}

.cs__element-header {
    display: flex;
    align-items: center;
}

.client__avatar {
    height: 76px;
    width: 76px;
    margin-left: 10px;
}

.client__name {
    padding-left: 30px;
    font-weight: 400;
}

.client__review {
    line-height: 23.4px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
}

.client__details_box {
    width: 293.75px;
    height: 54px;
    display: flex;
    flex-direction: row;
    background-color: #E3B873;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    position: absolute;
    box-shadow: 5px 5px 20px hsla(37, 67%, 67%, 0.5);
}

.details_separator {
    height: -webkit-fill-available;
    margin: 0;
    background-color: #fff;
    border: none;
    width: 1px;
}

.value {
    text-transform: uppercase;
    color: #fff;
}

.bottom__section {
    height: 970px;
    background-size: cover;
    background: url(images/bottom-section-bg.jpg), linear-gradient(to bottom, rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.72)) no-repeat right;
    background-blend-mode: multiply;
}

.qa__form {
    height: 445.3px;
    width: 883px;
    background-color: #181818;
    margin: -215px 14% 0;
    position: absolute;
}

.qa__form input {
    background: none;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
    padding-bottom: 10px;
    font-size: 14px;
}

.qa__form input::placeholder {
    color: #fff;
}

.qa__form input:focus::placeholder {
    color: transparent;
}

.qa__form-title {
    margin: 35px auto 45px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    width: fit-content;
}

.qa__form-fields {
    width: 517px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.qa__form-field {
    margin-bottom: 20px;
}

.qa__form-field h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    margin-bottom: 7px;
    font-size: 13px;
}

.qa__form-input {
    width: 231px;
}

.qa__form-question {
    width: 517px;
    margin: 0 auto 30px;
}

.qa__form-input-question {
    width: 100%;
}

.qa__form-question h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 7px;
}

.checkbox3 {
    width: fit-content;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    color: #fff;
}

button[type="submit"] {
    border-radius: 0%;
    margin: 0 auto;
    left: 341px;
    position: absolute;
}

.address {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 590px;
    top: 294px;
    left: 314px;
    position: absolute;
}

.contact__links {
    width: 71px;
    display: flex;
    justify-content: space-between;
    margin: 380px 570px 0;
    position: absolute;
}

@media screen and (max-width: 375.5px) {
    .container {
        width: 90%;
    }

    .nav__bar {
        height: 50px;
    }

    .nav__bar_inner {
        width: 90%;
        margin: auto;
    }

    .nav__links {
        display: none;
    }

    .nav__button {
        display: none;
    }

    .intro {
        height: 476px;
    }

    .intro__title {
        font-size: 23px;
        width: 100%;
    }

    .intro__subtitle {
        font-size: 14px;
        width: 100%;
        margin: 20px 0 53px;
    }

    .intro__contents {
        margin: 85px 0;
    }

    .intro__button_1, .intro__button_2 {
        width: 100%;
    }

    .intro__button_2 {
        margin: 30px 0 0;
    }

    #intro__button_2 {
        display: none;
    }

    #intro__button_3 {
        display: block;
    }

    .nav__number {
        color: #fff;
        margin-right: 0;
    }

    .projects__contents {
        margin: 0 0 auto;
    }

    .projects__description {
        margin: 36px auto;
        width: 95%;
    }

    .projects__title {
        font-size: 22px;
        text-align: center;
    }

    .projects__text {
        font-size: 11px;
        line-height: 17.43px;
        text-align: center;
    }

    .projects__pic_block {
        margin-left: 0;
    }

    #projects__pic_block-desktop {
        display: none;
    }

    #projects__pic_block-mobile {
        display: block;
        margin-top: 60px;
    }

    .projects-examples {
        width: 100%;
        height: auto;
        position: relative;
    }

    .pic__links {
        display: none;
    }

    .slider__btn-left, .slider__btn-right {
        display: block;
    }

    .projects {
        height: 1450px;
    }

    .projects__slider {
        display: none;
    }

    .detail__name {
        font-size: 14px;
    }

    .detailed {
        font-size: 11px;
    }

    .online__control_inner {
        width: 100%;
        top: -789px;
    }

    .section__title {
        font-size: 22px;
        font-weight: 100;
        width: fit-content;
        margin: 0 auto;
    }

    #img1 {
        width: 120px;
        height: auto;
    }

    .demo__video {
        width: 100%;
        margin-top: 20px;
    }

    .section__description {
        font-size: 11px;
        color: #fff;
        line-height: 18.68px;
        width: 90%;
        margin-bottom: 50px;
    }

    .slim_header {
        font-weight: 200;
        font-size: 22px;
    }

    .grab__details_form {
        flex-direction: column;
        width: 95%;
    }

    .input__field {
        margin-bottom: 30px;
        width: 95%;
    }

    .input__title {
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
    }

    .input__name {
        background: none;
        border: 0;
        border-bottom: 0.5px #fff solid;
        font-size: 14px;
        width: 100%;
        color: #fff;
    }

    .input__name::placeholder {
        color: #fff;
        font-size: 14px;
    }

    .submit__button {
        width: 100%;
    }

    .checkbox_desktop {
        display: none;
    }

    .checkbox_mobile {
        display: block;
        margin-bottom: 74px;
        margin-left: 4px;
        margin-top: 0;
    }

    .checkbox_mobile span {
        color: #fff;
    }

    .online__control {
        height: 85px;
    }
}